@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    this.ViewData["Title"] = "Add Sport";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

@model SportBattles.Web.ViewModels.Administration.Sport.AddSportInputModel
<label for="inputSport" class="mt-4">Choose Sport:</label>
<div class="form-row">
    <div class="input-group col-md-6">
        <select id="inputSport" class="form-control user-select-none">
        </select>
    </div>
    <div class="input-group form-group col-md-6" style="display:none" id="manualInputSport">
        <input asp-for="Name" type="text" class="form-control" placeholder="Type name of sport..." id="sportName">
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="buttonAddSport">Add</button>
        </div>

    </div>
</div>

<label for="inputCountry" class="mt-4">Choose Country:</label>
<div class="form-row">
    <div class="input-group col-md-6">
        <select id="inputCountry" class="form-control">
        </select>
    </div>
    <div class="input-group form-group col-md-6" style="display:none" id="manualInputCountry">
        <select class="form-control" id="countryName">
            <option>Select Country...</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="buttonAddCountry">Add</button>
        </div>
    </div>
</div>

<label for="inputTournament" class="mt-4">Choose Tournament:</label>
<div class="form-row">
    <div class="input-group col-md-6">
        <select id="inputTournament" class="form-control">
        </select>
    </div>
    <div class="input-group form-group col-md-6" style="display:flex" id="manualInputTournament">
        <select class="form-control">
            <option>Select Tornament...</option>
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">Add</button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        getAllSports();
    });
    var getAllSports = function () {
         $.ajax({
            url: '@Url.Action("GetAllSports", "Sport", new { Area = "Administration" })',
            type: 'GET',
            success: function (data) {
                $('#inputSport').find('option').remove()
                $(data).each(
                    function (index, item) {
                        $('#inputSport').append('<option value="' + item.id + '">' + item.name + '</option>')
                    });
                $('#inputSport').append('<option>Add new sport...</option>');
                showHideAddNewSport();
            },
             error: function () {
                 console.log("Error getting Sports");
            }
           });
    }


    var showHideAddNewSport = function () {
        var selectOption = $("#inputSport").find(":selected").text();
        if (selectOption == 'Add new sport...') {
            $("#manualInputSport").show();
            $("#sportName").focus();
            $("#inputCountry").prop("disabled", true);
            $('#inputCountry').find('option').remove();
            $('#inputCountry').append('<option>Choose sport first</option>');
            $("#manualInputCountry").hide();
        } else {
            $("#manualInputSport").hide();
            $("#sportName").val('');
            $("#inputCountry").prop("disabled", false);
            GetCountriesForSelectedSport();
            GetAllOtherCountriesForSelectedSport();
        }
        $('#inputCountry option').attr('selected', 'selected');
    }

    var showHideAddCountryToSport = function () {
        var selectOption = $("#inputCountry").find(":selected").text();
        if (selectOption == 'Add new country to sport...') {
            $("#manualInputCountry").show();
            $("#countryName").focus();
            $("#inputTournament").prop("disabled", true);
            $('#inputTournament').find('option').remove();
            $('#inputTournament').append('<option>Choose country first</option>');
        } else {
            $("#manualInputCountry").hide();
            $("#inputTournament").prop("disabled", false);
        }
    }

    $("#inputSport").change(showHideAddNewSport);
    $("#inputCountry").change(showHideAddCountryToSport);

    var GetCountriesForSelectedSport = function () {
        var sportId = $("#inputSport").val();
        $.ajax({
            url: '@Url.Action("GetCountriesForSelectedSport", "Country", new { Area = "Administration" })',
            type: 'GET',
            data: { sportId: sportId },
            success: function (data) {
                $('#inputCountry').find('option').remove()
                $(data).each(
                    function (index, item) {
                        $('#inputCountry').append('<option value="' + item.id + '">' + item.name + '</option>')
                    });
                $('#inputCountry').append('<option>Add new country to sport...</option>');
                showHideAddCountryToSport();
            },
             error: function () {
                 console.log("Error getting Countries");
            }
           });
    }

    var GetAllOtherCountriesForSelectedSport = function () {
        var sportId = $("#inputSport").val();
        $.ajax({
            url: '@Url.Action("GetAllOtherCountriesForSelectedSport", "Country", new { Area = "Administration" })',
            type: 'GET',
            data: { sportId: sportId },
            success: function (data) {
                $('#countryName').find('option').remove()
                $(data).each(
                    function (index, item) {
                        $('#countryName').append('<option value="' + item.id + '">' + item.name + '</option>')
                    });
            },
             error: function () {
                 console.log("Error getting Countries");
            }
           });
    }

    $("#buttonAddCountry").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddCountryToSport", "Country", new { Area = "Administration" })',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                '@tokenSet.HeaderName': '@tokenSet.RequestToken'
            },
            data: JSON.stringify({
                CountryId: $('#countryName').val(),
                SportId: $("#inputSport").val(),
            }),
            success: function (countryId) {
                $("#manualInputCountry").hide();
                GetCountriesForSelectedSport();
                $('#inputCountry').val(countryId).change();
            }
        });
    });
</script>

<script>
    $("#buttonAddSport").click(function () {
    var sportName = $('#sportName').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddSport", "Sport", new { Area = "Administration" })',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                '@tokenSet.HeaderName': '@tokenSet.RequestToken'
            },
            data: JSON.stringify({
                Name: sportName
            }),
            success: function (data) {
                $("#sportName").val('');
                alert(data.name + " added successfully!");
                getAllSports();
            },
            error: function () {
                alert("Sport name must be between 2 and 20 symbols");
            }
        });
    });

    
</script>