@{
    this.ViewData["Title"] = "Games";
}

@model IEnumerable<SportBattles.Services.FootballMatch>

<table class="table mt-4" id="tableMatches">
    <thead>
        <tr>
            <th>Start time</th>
            <th>Home team</th>
            <th>Away team</th>
            <th class="center">Result FT / (HT)</th>
        </tr>
    </thead>
    <tbody id="body">
        @foreach (var match in Model)
	{
        <tr>
            <td>@match.StartTimeLocalTime</td>
            <td>@match.HomeTeam</td>
            <td>@match.AwayTeam</td>
            @if (@match.Status == "FT")
            {
                <td>@match.HomeGoals - @match.AwayGoals / (@match.HalfHomeGoals - @match.HalfAwayGoals)</td>
            }
            else
            {
                <td>? - ?</td>
            }
        </tr>
	}
    </tbody>
</table>

<div class="row justify-content-around mt-4 ">
    <button class="btn btn-outline-primary col-md-5" id="buttonAddMatchesToGame" disabled>Add selected matches to game</button>
</div>
