@{
    this.ViewData["Title"] = "Football matches today";
}
@model IEnumerable<SportBattles.Services.JsonModels.FootballMatch>

<h1>All matches for the week:</h1>
@if (Model == null)
{
    <h3>There are no matches in the selected country/tournament.</h3>
}
else
{
    @foreach (var tournament in Model)
    {
        <ul>
            <h3>@tournament.Country - @tournament.Tournament</h3>
            @if (tournament.Events.Count != 0)
            {
                <h5>Date: @DateTime.ParseExact(tournament.Events[0].StartTime.Substring(0, 8), "yyyyMMdd", null).ToString("dd.MM.yy")</h5>
            }
            @foreach (var match in tournament.Events)
            {
                <li>@match.Status @match.HomeTeam[0].Name @match.HomeGoals - @match.AwayGoals @match.AwayTeam[0].Name</li>
            }
        </ul>
    }
}

