@{
    this.ViewData["Title"] = "Add new game or update current";
    this.ViewData["Admin"] = "active";
}
@model IEnumerable<SportBattles.Web.ViewModels.Administration.Game.GameViewModel>
<div class="container text-center mt-2 mb-2 pl-0 pr-0">
    <a asp-area="Administration" asp-controller="Game" asp-action="Add" title="Add new game" class="btn btn-info col-12">
        <i class="fa fa-plus"></i> Add new game
    </a>
</div>
<table id="table_id" class="display" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 35%">Name</th>
            <th style="width: 15%">Game type</th>
            <th style="width: 7%">Matches</th>
            <th style="width: 7%">Users</th>
            <th style="width: 6%">Status</th>
            <th style="width: 30%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
        <tr>
            <td>@game.Name</td>
            <td>@game.GameTypeName</td>
            @if (game.GameTypeName.Contains("Football"))
            {
                <td><a asp-area="Administration" asp-controller="Match" asp-action="AllInGame" asp-route-gameId="@game.Id" title="Show matches in game" class="btn-link">@game.MatchesCount</a></td>
            }
            @if (game.GameTypeName.Contains("Tennis"))
            {
                <td><a asp-area="Administration" asp-controller="TennisMatch" asp-action="AllInGame" asp-route-gameId="@game.Id" title="Show matches in game" class="btn-link">@game.TennisMatchesCount</a></td>
            }
            <td><a asp-area="Administration" asp-controller="User" asp-action="AllInGame" asp-route-gameId="@game.Id" title="Show users in game" class="btn-link">@game.UsersCount</a></td>
            <td>@(game.Started ? "Started" : "Not started")</td>
            <td>
                @if (!game.Started)
                {
                    <a asp-area="Administration" asp-controller="Match" asp-action="AddToGame" asp-route-gameId="@game.Id" title="Add matches to game" class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                    <a asp-area="Administration" asp-controller="Game" asp-action="ChangeStatus" asp-route-gameId="@game.Id" title="Start game" class="btn btn-warning">
                        <i class="fa fa-play-circle"></i>
                    </a>
                }
                else
                {
                    <a asp-area="Administration" asp-controller="Game" asp-action="ChangeStatus" asp-route-gameId="@game.Id" title="Stop game" class="btn btn-warning">
                        <i class="fa fa-stop-circle"></i>
                    </a>
                }
                <a asp-area="Administration" asp-controller="Game" asp-action="Delete" asp-route-gameId="@game.Id" title="Delete game" class="btn btn-danger">
                    <i class="fa fa-minus-circle"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script>
        $('#table_id').DataTable();
    </script>
}
