@using SportBattles.Common
@{
    this.ViewData["Title"] = "All games";
    this.ViewData["Games"] = "active";
}
@model IEnumerable<SportBattles.Web.ViewModels.Game.GameViewModel>

<h2>Choose a game you want to participate in</h2>
<table id="table_id" class="responsive display" style="width: 100%">
    <thead>
        <tr>
            <th data-priority="1" style="width: 35%">Name</th>
            <th data-priority="3" style="width: 15%">Game type</th>
            <th style="width: 10%">Matches</th>
            <th style="width: 10%">Users</th>
            <th data-priority="2" style="width: 30%">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td><a class="text-dark" asp-area="" asp-controller="Game" asp-action="Info" asp-route-id="@game.Id">@game.Name</a></td>
                <td>
                    @game.GameTypeName
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@game.GameTypeDescription"></i>
                </td>
                @if (game.GameTypeSport == "Football")
                {
                    <td>@game.MatchesCount</td>
                }
                @if (game.GameTypeSport == "Tennis")
                {
                    <td>@game.TennisMatchesCount</td>
                }
                <td>@game.UsersCount</td>
                <td>
                    <a asp-controller="Game" asp-action="Join" asp-route-gameId="@game.Id" asp-route-sport="@game.GameTypeSport" data-toggle="tooltip" title="Join game" class="btn btn-success">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/js/dataTables.responsive.min.js"></script>
    <script>
        $('#table_id').DataTable();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}