@using SportBattles.Common

@{
    this.ViewData["Title"] = "Matches in this game";
}

@section Heads{
    <link rel="stylesheet" href="~/css/matches.css" type="text/css" asp-append-version="true" />
}
@model IEnumerable<SportBattles.Web.ViewModels.Administration.Match.MatchInGameViewModel>
@foreach (var match in Model)
{
    <div class="match">
        <div class="league">@match.TournamentCountryName - @match.TournamentName</div>
        <div class="startDate">@match.StartTimeLocalTime</div>
        <div class="teams-result">
            <div class="home_team">@match.HomeTeamName</div>
            <div class="emblem"><img src="@(match.HomeTeamEmblemUrl?? "/img/noTeamEmblem.png")" alt=""></div>
            <div class="result">
                <input type="number" class="home_team_goals" maxlength='1' value='@match.HomeGoals' />
                <div class="separator">-</div>
                <input type="number" class="away_team_goals" maxlength='1' value='@match.AwayGoals' />
            </div>
            <div class="emblem"><img src="@(match.AwayTeamEmblemUrl?? "/img/noTeamEmblem.png")" alt=""></div>
            <div class="away_team">@match.AwayTeamName</div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(".match").click(function (e) {
            if (e.target.className != "away_team_goals") {
                e.currentTarget.querySelector(".home_team_goals").select();
            }
        });

        $("input").click(function () {
            $(this).select();
        });

        $("input").keypress(function (e) {
            if (e.keyCode >= 48 && e.keyCode <= 57) {
                if (this.value.length == this.maxLength) {
                    this.value = "";
                }
            }
            else {
                return false;
            }
        });

        $("input").keyup(function (e) {
            var parentResultElement = e.currentTarget.parentNode;
            
            if (this.value.length == this.maxLength && Array.from(this.parentNode.querySelectorAll("input")).some(e => e.value == "")) {
                if (e.target.className == "away_team_goals") {
                    e.currentTarget.parentNode.querySelector(".home_team_goals").focus();
                }
                else {
                    e.currentTarget.parentNode.querySelector(".away_team_goals").focus();
                }
            }
            else {
                $(parentResultElement).find("input").css("color", "green");
            }
        });

        $("input").change(function () {
            if (this.value.length == 0) {
                $(this.parentNode).find("input").css("color", "red");
            };
        });


    </script>
}